<section class="profile-section">
  <div id="profile-image">
  {{ if .Site.Params.avatar }}
    <img src="{{ .Site.Params.avatar | relURL }}" alt="avatar" class="avatar">
  {{ end }}

  </div>
  <div id="profile-info">
    <h1 class="profile-name">{{ .Site.Params.author }}</h1>
    <p class="profile-description">
    </p>

    <div class="social-icons">
      {{ with .Site.Params.social.website }}
      <a href="{{ . }}" target="_blank" rel="noopener" aria-label="Personal Website">
        <i class="fas fa-user"></i>
      </a>
      {{ end }}

      {{ with .Site.Params.social.youtube }}
      <a href="{{ . }}" target="_blank" rel="noopener" aria-label="Youtube">
        <i class="fab fa-youtube"></i>
      </a>
      {{ end }}

      {{ with .Site.Params.social.github }}
      <a href="{{ . }}" target="_blank" rel="noopener" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      {{ end }}
    </div> 
  </div>
</section>


